.pushToPay,
.startapi,
.statusapi,
.cancelapi {
    text-align: left;
    margin: 0px 100px;
    padding-top: 60px;
}

.dataGrid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
table {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

tr {
    padding: 0;
    margin: 0;
}
    
th {
    text-align: left;
    padding-left: 15px;
    margin: 0;
}
    
td {
    text-align: left;
    padding-left: 15px;
    margin: 0;
}

.parameter {
    width: 220px;
}

.datatype {
    width: 300px;
}

.maincurl {
    display: flex;
}

.urlCurlSec {
    display: flex;
    flex-direction: column;
    position: fixed;
}

.att {
    font-weight: 900;
}

.dt {
    margin: 8px 3px;
}

.descrip p {
    margin: 0;
    padding: 0;
}

.Desc {
    width: 490px;
}

.samReqRes {
    width: 100%;
}

.samReq {
    width: 454px;
}