.sidebar {
    display: flex;
}

.mainArea {
    width: 100%;
}

.titleDiv {
    width: 96%;
    display: block;
    background-color: transparent;
    padding: 0;
    margin: 0;
    margin-left: 72px;
}

.bgImageDiv {
    overflow: hidden;
    display: flex;
    background-image: url('../../public/images/topBannerBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
}

.heroImg {
    width: 50%;
    height: 50%;
    padding-bottom: 80px;
}

.heading {
    color: #2D2D2D;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    width: 30vw;
    padding: 100px 20px  48px 163px;
    gap: 24px 0px;
}

.heading h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: initial;
    font-weight: 700;
    padding-bottom: 30px;
    cursor: default;
}

.bottomTitleText {
    cursor: default;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
}

.bottomTitleText a {
    display: flex;
    text-decoration: none;
    outline: none;
    cursor: default;
}

.bottomTitleText h3 {
    text-align: start;
    color: #2D2D2D;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 400;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    cursor: default;
}

.secondaryNavBar {
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    position: sticky;
    margin: 0;
    padding: 0;
    z-index: 1;
    top: 64px;
    border-bottom: 1px solid rgb(215, 214, 214);
}

.secondaryInnerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    padding: 0;
    flex: 0 1 auto;
}

.tabDiv {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.tabDiv a {
    text-decoration: none;
    outline: none;
    cursor: pointer;

}

.tabDiv p {
    padding: 16px 32px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;    display: block;
    cursor: pointer;
    color: #2D2D2D;
}

.horizontalRule {
    border: 1px solid rgb(255, 255, 255);
    box-shadow: rgb(21 45 66675 / 20%) 0px 1px;
    margin-top: -2px;
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    margin: 0;
    padding: 0;  
}

.Home,
.GetStarted {
    width: 20px;
    height: 20px;
}

.Features,
.API {
    width: 30px;
    height: 30px;
}