/* Contains all the color themes for the website */

/* border color for table */
th, 
td {
    border: 1px solid grey;
}


/* cards */
/* cards sections background */
.container-fluid {
    background: #f7ede2;
}

/* cards heading */
.container h2 {
    color: #202020;
}


/* cards heading span */
.container span {
    color: #FF7E2E;
}


/* cards desktopversion */
.desktopversion {
    color: #58595b;
}

.flip-wrapper {
    color: #58595b;
}

.flip-card {
    color: #58595b;
}

.flip-card-inner {
    color: #58595b;
}


/* card front */
.flip-card-front {
    background-image: linear-gradient(-53deg, #f9d2447d 20%, #f0961957 80%);
    /* background-color: #F9D344; */
    color: #2D2D2D;
    box-shadow: 0px 3px 16px #0000001f;
}

.flip-card-front img {
    color: black;
}


/* cards back */
.flip-card-back {
    background-image: linear-gradient(-53deg, #f0961964 20%, #e1472f46 80%);
    /* background-color: #ff62006b; */
    color: #2D2D2D;
    box-shadow: 0px 3px 86px #00000014;
}

.flip-card-back img{
    color: #2D2D2D;
}

.flip-card-back h5 {
    color: #2D2D2D;
}

.flip-card-back ul li a {
    color: #2D2D2D;
}

.flip-card-back ul li a::after{
    color: #2d2d2d;
}

.flip-card-back ul li a:hover {
    color: #ff6a00;
}


/* curl */
/* curl req. get part */
.url {
    color: #4f5c5d;
}

.url::before {
    background: #E77A2B;
    color: #fff;
}


/* heading for api (GET /api) */
.ib {
    background: rgba(108,159,255,0.1);
    background-color: #f7ede2;
    border: 2px solid #E77A2B;
}


/* curl code block */
.codeblock .code-labels {
    background: #2d2d2d;
}

.codeblock .code-labels label{
    color: #ffffff;
}

.code-container {
    background: #2d2d2d;
    border: 1px solid #2d2d2d;
}

.copy-btn {
    background: #2d2d2d;
    color: #E77A2B;
}

code {
    color: rgba(255, 255, 255, 0.75);
}

code span {
    color: #E77A2B;
}


/* tabs for language */
.tabs {
    color: white;
    background: #2d2d2d;
}

.active-tab {
    color: #E77A2B;
    font-weight: 800;
}


/* for active tab borders */
.active-tab::before,
.active-tab::after {
    background: #E77A2B;
}

.content hr {
    background: #222;
}


/* features */
/* headings (H1, H2, H3, H4, H5, H6) */
h1,
h2,
h4,
li::marker{
    color: #2D2D2D;
}

strong {
    color:#2D2D2D;
}


/* NOTE */
blockquote {
    /* max-width: fit-content; */
    padding: 1px 6px;
    background-color: #ffc78c;
    border-left: 4px solid #E77A2B;
    margin: 0;
}


/* table background on features pages */
tr th {
    background-color: #2D2D2D;
    color: white;
}

td {
    background-color: #f7ede284;
}


/* home */
.heading,
.heading h1,
.bottomTitleText h3 {
    color: #2D2D2D;
}


/* head image */
.bgImageDiv {
    background-image: url('../../public/images/topBannerBackground.jpg');
}


/* side NavBar */
.sideNavBar {
    background-color: #2D2D2D;
    color: #ffffff;
}

.navText {
    color: #ffffff
}

.navBtns.active {
    background-color: #E77A2B;
}


/* split NavBar */
.secondNav {
    border-right: 2px solid #E77A2B;
    background-color: #f7ede2;
}

.navTab a span {
    color:#2D2D2D;
}

.navTab p {
    color: #E77A2B;
}

.navBtnActive {
    background-color: #E77A2B;
}

.navBtn a {
    color: #2D2D2D;
}

.activeapiname {
    color: #E77A2B;
}


/* top NavBar */
.mainDiv {
    background-color: #2D2D2D;
    border: 1px solid #2D2D2D;
}

.active a p {
    color: #E77A2B;
}

.linkDiv a p {
    color: #ffffff;
}

.buttonDiv a p {
    color: #E77A2B;
}

.buttonDiv a button {
    background-color: #E77A2B;
    border: 1px solid #E77A2B;
}

.buttonDiv a button p {
    color: #fff;
}

.searchbar {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(197, 204, 216);
}

.searchbar input {
    background-color: white;
}

.searchbar input:disabled {
    color: rgb(84, 84, 84);
}


/* Best Practices */
.abc {
    background-color: rgba(64, 237, 38, 0.116);
    border-left: 4px solid rgb(0, 255, 64);
    padding: 20px 10px;
    padding-left: 30px;
}

.bold {
    /* background-color: rgb(249, 200, 193); */
    font-weight: 900;
}

.ital {
    /* background-color: rgb(249, 200, 193); */
    font-style: italic;
}


/* Right side in page navigation */
/* list heading */
.rnlist {
    border-left: 2px solid #E77A2B;
}

/* list sub list */
.rnsublist {
    border-left: 2px solid #E77A2B;
}

/* active colors for list and sublist */
.activern,
.activesubrn {
    border-left: 3px solid #E77A2B;
    background-color: #fff;
    color: #E77A2B;
}

.main,
.parameter,
.sampleReqRes,
.curl {
    color: #2d2d2d;
}