.sideNavBarMainDiv{
    display: flex;
    flex-direction: column;
    position: sticky;
    z-index: 1000;
    padding-top:2px
}

.sideNavBar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 92px;
    height: 100%;
    background-color: #2D2D2D;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.mainNavBtn {
    position: sticky;
    box-sizing: border-box;
    display: block;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.navBtns {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 72px;
    box-sizing: border-box;
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.navBtns a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: inherit;
    outline: none;
    cursor: pointer;
    pointer-events: none;
}

.navoption {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    padding: 4px;
    cursor: pointer;
}


.home,
.getStarted {
    width: 20px;
    height: 20px;
}

.features,
.api {
    width: 30px;
    height: 30px;
}

.navText {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 0;
    padding: 4px 4px 0;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 16px;
    cursor: pointer;
    position: none;
}

.navBtns.active {
    background-color: #939393;
}