.secondNav {
    padding-top: 10px;
    margin-left: 92px;
    display: flex;
    height: 100vh;
    width: 180px;
    flex-direction: column;
    position: fixed;
    z-index: 200;
    overflow: auto;
    border: 1px solid grey;
}

.navCell {
    height: 40px;
}

.navTab {
    margin-left: 20px;
    display: flex;
}

.navTab a {
    cursor: pointer;
}

.navTab p {
    cursor: pointer;
    margin: 0;
    margin-left: 5px;
    padding: 0;
}

.navBtn {
    position: sticky;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    height: 72px;
    box-sizing: border-box;
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.navBtnActive {
    background-color: #E77A2B;
}

.navBtn a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: inherit;
    outline: none;
    cursor: pointer;
    pointer-events: none;
}