.secondNav {
    padding-top: 10px;
    margin-left: 92px;
    display: flex;
    height: 100%;
    width: 250px;
    flex-direction: column;
    position: fixed;
    z-index: 200;
    overflow: auto;
}

.navCell {
    height: 40px;
}

.navTab {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.navBtn .navTab {
    height: 30px;
    display: flex;
    flex-direction: row;
}

.navTab a img {
    width: 12px;
    height: 30px;
}

.navTab a {
    cursor: pointer;
    text-decoration: none;
}

.navTab a span {
    font-size: 18px;
    font-weight: bolder;
}

.navTab p {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    margin: 0;
    padding: 7px;
}

.navBtn {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height:90vh;
    box-sizing: border-box;
    background-color: transparent;
    margin: 0;
    padding: 0 40px;
    box-shadow: none;
}

.navBtn a {
    display: flex;
    text-decoration: none;
    position: inherit;
    outline: none;
    cursor: pointer;
    font-weight: 500;
}

.innerMain {
    margin: 5px 20px 0 20px;
}

.apiNames ul {
    list-style: none;
    padding: 0 15px;
    margin: 0;
    text-align: left;
}

.apiNames ul li {
    padding: 5px 0px 5px 15px;
    cursor: pointer;
}

.apiNames {
    cursor: pointer;
}

.secactive {
    font-weight: 900;
}

.headUl {
    text-align: left;
}

.mainUl {
    margin-left: 15px;
    padding: 0 20px;
    list-style: none;
}

.headlink {
    text-decoration: none;
    color: #2D2D2D;
    font-size: 18px;
}

.headlink p {
    margin: 5px 0;
    padding: 0;
}

.subUl {
    font-size: 16px;
    /* margin: 12px 0 12px  0; */
    padding: 0 0 0 20px;
}

#p2p,
.subsubUl,
#userAgree,
#userConsent,
#error {
    list-style: none;
}

.sublink {
    display: flex;
    text-decoration: none;
    color: #2D2D2D;
}

.sublink img {
    width: 12px;
    padding-right: 8px;
    margin-top: 8px;
}

.sublink p {
    margin: 8px 0 0 0;
}

.subsubUl {
    font-size: 15px;
    padding: 0 0 0 30px;
}

.activeheadlink {
    font-weight: 900;
}

.activesublink {
    color: #2D2D2D;
    font-weight: 700;
}

.subsublink {
    text-decoration: none;
    color: #2D2D2D;
}

.subsublink p {
    margin: 8px 0 0 0;
}

.activesubsublink {
    font-size: 16px;
    font-weight: 800;
    color: #E77A2B;
    text-decoration: none;
}