.secondNav {
    padding-top: 10px;
    margin-left: 92px;
    display: flex;
    height: 100%;
    width: 250px;
    flex-direction: column;
    position: fixed;
    z-index: 200;
    overflow: auto;
    border-right: 2px solid #E77A2B;
    background-color: #f7ede2;
}

.navCell {
    height: 40px;
}

.navTab {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.navBtn .navTab {
    height: 30px;
    display: flex;
    flex-direction: row;
}

.navTab a img {
    width: 12px;
    height: 30px;
}

.navTab a {
    height: 30px;
    cursor: pointer;
}
.navTab a span {
    font-size: 18px;
    font-weight: bolder;
}

.navTab p {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    margin: 0;
    padding: 7px;
}

.navBtn {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    height:90vh;
    box-sizing: border-box;
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.navBtnActive {
    background-color: #E77A2B;
}

.navBtn a {
    display: flex;
    text-decoration: none;
    position: inherit;
    outline: none;
    cursor: pointer;
    color: #2D2D2D;
    font-weight: 500;
}

.innerMain {
    margin: 5px 20px 0 20px;
}

.apiNames ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.apiNames ul li {
    padding: 5px 0px 5px 15px;
    cursor: pointer;
}

.apiNames {
    cursor: pointer;
}

.activeapiname {
    color: #E77A2B;
}

.secactive {
    font-weight: 900;
}