body {
  margin: 0;
  /* font-family: 'Nunito Sans', sans-serif; */
  /* font-family: 'Roboto Slab', serif; */
  /* font-family: 'Albert Sans', sans-serif; */
  /* font-family: 'Comfortaa', cursive; */
  font-family: 'lato', sans-serif;


  /* font-family: -apple-system, BlinkMacSystemFont, 'Nunito Sans', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
