/* //  Atlas Grotesk - for body and general copy */
@font-face {
    font-family : "Atlas Grotesk";
    font-weight : 400;
    src         : url("./fonts/AtlasGrotesk-Regular-Web.woff") format("woff"),
}

@font-face {
    font-family : "Atlas Grotesk";
    font-weight : 500;
    src         : url("./fonts/AtlasGrotesk-Medium-Web.woff") format("woff"),
}

/* //  Atlas Typewriter - for code snippets */
@font-face {
    font-family : "Atlas Typewriter";
    font-weight : 400;
    src         : url("./fonts/AtlasTypewriter-Regular-Web.woff") format("woff"),
}

@font-face {
    font-family : "Atlas Typewriter";
    font-weight : 500;
    src         : url("./fonts/AtlasTypewriter-Medium-Web.woff") format("woff"),
}

body {
  margin: 0;
  font-family : "Atlas Grotesk", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito Sans', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* height: fit-content; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
